@model BlockToDB.Models.RegisterViewModel
@{
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="login">
    @using (Html.BeginForm("Register", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
    {
        @Html.AntiForgeryToken();
        <div class="login-image">
            <img src="~/Content/images/1.png" />
        </div>
        <div class="login-form">
            <div class="login-form-header" onclick="goToDashboard()">
                <img src="~/Content/images/logo.svg" />
                <span>@SharedResource.BlockToDB.ToStringSafe()</span>
            </div>
            <div class="login-form-wrapper">
                <div class="row">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Email, new { @class = "control-label" })
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.Password, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12">
                            <div class="form-group">
                                @Html.LabelFor(m => m.ConfirmPassword, new { @class = "control-label" })
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="col-md-12 mt-3 login-form-btn">
                            @Html.ActionLink(SharedResource.Back, "Login")
                            <input type="submit" value="@SharedResource.Register.ToStringSafe()" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
</div>

<script>
    function goToDashboard() {
        window.location = "@Url.Action("Index", "Creator")";
    }
</script>
