@model BlockToDBVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string validationGroup = Guid.NewGuid().ToString();
}

<div class="wrapper">
    <div class="wrapper-header wrapper-header-creator d-sm-flex align-items-center justify-content-between">
        <h4 class="wrapper-header-title">@SharedResource.CreatorDB.ToStringSafe()</h4>
        <div class="wrapper-header-actions">
            <div id="importBtnId"></div>
            <div id="exportBtnId"></div>
            <div id="saveBtnId"></div>
            <div class="dropdown">
                <button class="dropbtn">@SharedResource.Generate.ToStringSafe()</button>
                <div class="dropdown-content">
                    <a href="#" onclick="generateBtnHandler(0)">@SharedResource.SQL.ToStringSafe()</a>
                    <a href="#" onclick="generateBtnHandler(1)">@SharedResource.CreateServ.ToStringSafe()</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-inner-creator">
        @Html.Partial("_Editor")
    </div>
</div>

@Html.Partial("_ServerPopup")
@Html.Partial("_SchemaPopup")

<script>
    function generateBtnHandler(val) {
        if (val == 0) {
            $("#loadPanelId").dxLoadPanel("instance").show();
            generateScript();
        }
        else {
            $("#serverPopupId").dxPopup("instance").show();
        }
    }

    function generateScript() {
            var json = editor.toJSON();
             $.ajax({
                url: '@Url.Action("GenerateScriptFile", "Creator")',
                type: "post",
                data: {
                    Json: JSON.stringify(json),
                 },
                 success: function (data) {
                     window.location = "@Url.Action("Download", "Creator", new { id = "__id__", isScript = true })".replace(/__id__/g, data.Id);
                     $("#loadPanelId").dxLoadPanel("instance").hide();
                 }
            });
    }

    $(document).ready(function () {
        function saveSchemaBtnHandler() {
            $("#schemaPopupId").dxPopup("instance").show();
        }

        function importScript() {
            var dataJson = {
                "id": "demo@0.1.0",
                "nodes": {
                    "1": {
                        "id": 1,
                        "data": {
                            "inherit-type": "TPT",
                            "tableName": "NazwaTabeli1",
                            "1-name": "Id",
                            "1-type": "BIT",
                            "1-isPrimaryKey": true,
                            "1-notNull": false,
                            "1-unique": false,
                            "2-name": "test",
                            "2-type": "BIT",
                            "2-isPrimaryKey": false,
                            "2-notNull": false,
                            "2-unique": false
                        },
                        "inputs": {
                            "1": {
                                "connections": [

                                ]
                            },
                            "2": {
                                "connections": [

                                ]
                            },
                            "inheritFrom": {
                                "connections": [

                                ]
                            }
                        },
                        "outputs": {
                            "1": {
                                "connections": [
                                    {
                                        "node": 2,
                                        "input": 2,
                                        "data": {

                                        }
                                    }
                                ]
                            },
                            "2": {
                                "connections": [

                                ]
                            },
                            "inheritTo": {
                                "connections": [

                                ]
                            }
                        },
                        "position": [
                            79,
                            268.5625
                        ],
                        "name": "Tabela"
                    },
                    "2": {
                        "id": 2,
                        "data": {
                            "inherit-type": "TPT",
                            "tableName": "NazwaTabeli2",
                            "1-name": "Id",
                            "1-type": "INTEGER",
                            "1-isPrimaryKey": true,
                            "1-notNull": false,
                            "1-unique": false,
                            "2-name": "nazwa",
                            "2-type": "BIT",
                            "2-isPrimaryKey": false,
                            "2-notNull": false,
                            "2-unique": false
                        },
                        "inputs": {
                            "1": {
                                "connections": [

                                ]
                            },
                            "2": {
                                "connections": [
                                    {
                                        "node": 1,
                                        "output": 1,
                                        "data": {

                                        }
                                    }
                                ]
                            },
                            "inheritFrom": {
                                "connections": [

                                ]
                            }
                        },
                        "outputs": {
                            "1": {
                                "connections": [

                                ]
                            },
                            "2": {
                                "connections": [

                                ]
                            },
                            "inheritTo": {
                                "connections": [

                                ]
                            }
                        },
                        "position": [
                            805,
                            278.5625
                        ],
                        "name": "Tabela"
                    }
                }
            };
            editor.fromJSON(dataJson)
                .then(() => {
                    $.each(dataJson.nodes, function (key, value) {
                        var fromId = value.id
                        $.each(value.outputs, function (key, value) {
                            var inputFrom  = parseInt(key);
                            value.connections.forEach(conn => {

                                editor.connect(editor.nodes.find(element => element.id == fromId).outputs.get(inputFrom), editor.nodes.find(element => element.id == conn.node).inputs.get(conn.input));
                                });
                        });
                    });
                    
                editor.on("error", err => {
                    console.log("Error: {0}", err.message);
                });
                editor.on(
                    "process connectioncreated connectionremoved nodecreated",
                    async function () {
                        if (engine.silent) return;
                        onMessageTask = [];
                        console.log("process");
                        await engine.abort();
                        await engine.process(editor.toJSON());
                    }
                );
                editor.trigger("process");
                editor.view.resize();
                AreaPlugin.zoomAt(editor);
            });
        }

        function exportScript() {
            $("#schemaPopupId").dxPopup("instance").show();
        }
        function exportScript(data) {
            
        }
        $("#importBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "upload",
            onClick: importScript,
            text: "@SharedResource.Import.ToScriptStringSafe()",
            type: "normal"
        }).dxButton("instance");

        $("#exportBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "download",
            onClick: exportScript,
            text: "@SharedResource.Export.ToScriptStringSafe()",
            type: "normal",
            visible: @Json.Encode(!Context.User.Identity.IsAuthenticated),
        }).dxButton("instance");


        $("#saveBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "save",
            onClick: saveSchemaBtnHandler,
            text: "@SharedResource.Save.ToScriptStringSafe()",
            type: "normal",
            visible: @Json.Encode(Context.User.Identity.IsAuthenticated),
        }).dxButton("instance");
    });
</script>