@model BlockToDBVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string validationGroup = Guid.NewGuid().ToString();
}

<div class="wrapper">
    <div class="wrapper-header wrapper-header-creator d-sm-flex align-items-center justify-content-between">
        <h4 class="wrapper-header-title">@SharedResource.CreatorDB.ToStringSafe()</h4>
        <div class="wrapper-header-actions">
            <div id="importBtnId"></div>
            <div id="exportBtnId"></div>
            <div id="saveBtnId"></div>
            <div class="dropdown">
                <button class="dropbtn">@SharedResource.Generate.ToStringSafe()</button>
                <div class="dropdown-content">
                    <a href="#" onclick="generateBtnHandler(0)">@SharedResource.SQL.ToStringSafe()</a>
                    <a href="#" onclick="generateBtnHandler(1)">@SharedResource.CreateServ.ToStringSafe()</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-inner-creator">
        @Html.Partial("_Editor")
    </div>
</div>

@Html.Partial("_ServerPopup")
@Html.Partial("_SchemaPopup")

<script>
    function generateBtnHandler(val) {
        if (val == 0) {
            $("#loadPanelId").dxLoadPanel("instance").show();
            generateScript();
        }
        else {
            $("#serverPopupId").dxPopup("instance").show();
        }
    }

    function generateScript() {
            var json = editor.toJSON();
             $.ajax({
                url: '@Url.Action("GenerateScriptFile", "Creator")',
                type: "post",
                data: {
                    Json: JSON.stringify(json),
                 },
                 success: function (data) {
                     window.location = "@Url.Action("Download", "Creator", new { id = "__id__", isScript = true })".replace(/__id__/g, data.Id);
                     $("#loadPanelId").dxLoadPanel("instance").hide();
                 }
            });
    }

    $(document).ready(function () {
        function saveSchemaBtnHandler() {
            $("#schemaPopupId").dxPopup("instance").show();
        }

        function importScript() {
            var data = {
                "id": "demo@0.1.0",
                "nodes":
                {
                    "1": {
                        "id": 1,
                        "data": {
                            "inherit-type": "TPT",
                            "tableName": "Tabela1",
                            "1-relation": "jeden",
                            "1-name": "A",
                            "1-type": "INTEGER",
                            "1-isPrimaryKey": true,
                            "2-relation": "jeden",
                            "2-name": "B",
                            "2-type": "INTEGER",
                            "2-isPrimaryKey": false,
                            "3-relation": "jeden",
                            "3-name": "C",
                            "3-type": "DATE",
                            "3-isPrimaryKey": false
                        },
                        "inputs": {
                            "1": { "connections": [] }, "2": { "connections": [] }, "3": { "connections": [] }, "inheritFrom": { "connections": [] }
                        },
                        "outputs": {
                            "1": { "connections": [] }, "2": { "connections": [{ "node": 2, "input": 2, "data": {} }] }, "3": { "connections": [] }, "inheritTo": { "connections": [] }
                        },
                        "position": [81, 87.5625],
                        "name": "Tabela"
                    },
                    "2": {
                        "id": 2,
                        "data": {
                            "inherit-type": "TPT",
                            "tableName": "Tabel2",
                            "1-relation": "jeden",
                            "1-name": "A",
                            "1-type": "INTEGER",
                            "1-isPrimaryKey": true,
                            "2-relation": "jeden",
                            "2-name": "B",
                            "2-type": "BIT",
                            "2-isPrimaryKey": false
                        },
                        "inputs": {
                            "1": { "connections": [] }, "2": { "connections": [{ "node": 1, "output": 2, "data": {} }] }, "inheritFrom": { "connections": [] }
                        },
                        "outputs": {
                            "1": { "connections": [] }, "2": { "connections": [] }, "inheritTo": { "connections": [] }
                        },
                        "position": [751, 95.5625],
                        "name": "Tabela"
                    }
                }
            };
            editor.fromJSON(data)
            .then(() => {
                editor.on("error", err => {
                    console.log("Error: {0}", err.message);
                });
                editor.on(
                    "process connectioncreated connectionremoved nodecreated",
                    async function () {
                        if (engine.silent) return;
                        onMessageTask = [];
                        console.log("process");
                        await engine.abort();
                        await engine.process(editor.toJSON());
                    }
                );
                editor.trigger("process");
                editor.view.resize();
                AreaPlugin.zoomAt(editor);
            });
        }

        function exportScript() {
            $("#schemaPopupId").dxPopup("instance").show();
        }

        $("#importBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "upload",
            onClick: importScript,
            text: "@SharedResource.Import.ToScriptStringSafe()",
            type: "normal"
        }).dxButton("instance");

        $("#exportBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "download",
            onClick: exportScript,
            text: "@SharedResource.Export.ToScriptStringSafe()",
            type: "normal",
            visible: @Json.Encode(!Context.User.Identity.IsAuthenticated),
        }).dxButton("instance");


        $("#saveBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "save",
            onClick: saveSchemaBtnHandler,
            text: "@SharedResource.Save.ToScriptStringSafe()",
            type: "normal",
            visible: @Json.Encode(Context.User.Identity.IsAuthenticated),
        }).dxButton("instance");
    });
</script>