@model BlockToDBVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    string validationGroup = Guid.NewGuid().ToString();
}

<div class="wrapper">
    <div class="wrapper-header wrapper-header-creator d-sm-flex align-items-center justify-content-between">
        <h4 class="wrapper-header-title">@SharedResource.CreatorDB.ToStringSafe()</h4>
        <div class="wrapper-header-actions">
            <div id="importBtnId"></div>
            <div id="exportBtnId"></div>
            <div id="saveBtnId"></div>
            <div class="dropdown">
                <button class="dropbtn">@SharedResource.Generate.ToStringSafe()</button>
                <div class="dropdown-content">
                    <a href="#" onclick="generateBtnHandler(0)">@SharedResource.SQL.ToStringSafe()</a>
                    <a href="#" onclick="generateBtnHandler(1)">@SharedResource.CreateServ.ToStringSafe()</a>
                </div>
            </div>
        </div>
    </div>
    <div class="wrapper-inner-creator">
        @Html.Partial("_Editor")
    </div>
</div>

@Html.Partial("_ServerPopup")
@Html.Partial("_SchemaPopup", Model)
@Html.Partial("_GeneratePopup")
@Html.Partial("_ImportSchema")

<script>
    function generateBtnHandler(val) {
        if (val == 0) {
            $("#generatePopupId").dxPopup("instance").show();
        }
        else {
            $("#serverPopupId").dxPopup("instance").show();
        }
    }

    function saveSchemaBtnHandler() {
        $("#schemaPopupId").dxPopup("instance").show();
    }

    function exportScript() {
        $("#schemaPopupId").dxPopup("instance").show();
    }

    function initEditor() {
        @{ 
            if (!Model.Json.IsNullOrEmpty())
            { 
                <text>
                    importScript('@(Model.Json.ToScriptStringSafe())', '@(Model.Name.ToScriptStringSafe())');
                </text>
            }
        }
    }

    $(document).ready(function () {
        initEditor();

        $("#importBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "upload",
            onClick: importScriptHandler,
            text: "@SharedResource.Import.ToScriptStringSafe()",
            type: "normal"
        }).dxButton("instance");

        $("#exportBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "download",
            onClick: exportScript,
            text: "@SharedResource.Export.ToScriptStringSafe()",
            type: "normal",
            visible: @Json.Encode(!Context.User.Identity.IsAuthenticated),
        }).dxButton("instance");


        $("#saveBtnId").dxButton({
            elementAttr: { class: "btn btn-normal mr-1" },
            icon: "save",
            onClick: saveSchemaBtnHandler,
            text: "@SharedResource.Save.ToScriptStringSafe()",
            type: "normal",
            visible: @Json.Encode(Context.User.Identity.IsAuthenticated),
        }).dxButton("instance");
    });
</script>