@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="wrapper">
    <div class="wrapper-header d-sm-flex align-items-center justify-content-between">
        <h4 class="wrapper-header-title">@SharedResource.MyDatabase.ToStringSafe()</h4>
        <div class="wrapper-header-actions">
            <div id="addBtnId"></div>
        </div>
    </div>
    <div class="wrapper-inner pt-2">
        <div id="gridContainerId"></div>
    </div>
</div>

<script>
    function downloadSchema(id) {
        window.location = "@Url.Action("Download", "Creator", new { id = "__id__", isScript = false })".replace(/__id__/g, id);
    }

    function deleteSchema(id) {
             $.ajax({
                url: '@Url.Action("DeleteSchemaData", "Store")',
                type: "delete",
                data: {
                    id: id,
                 },
                 success: function (data) {
                     $("#gridContainerId").dxDataGrid("instance").refresh();
                     $("#loadPanelId").dxLoadPanel("instance").hide();
                 }
            });
    }

    $(document).ready(function () {
        function addNewScheme() {
            window.location = "@Url.Action("Index", "Creator")";
        }

        $("#addBtnId").dxButton({
            elementAttr: { class: "btn btn-default" },
            onClick: addNewScheme,
            text: "@SharedResource.Add.ToStringSafe()",
            type: "default"
        }).dxButton("instance");

        var store = DevExpress.data.AspNet.createStore({
            "loadUrl": "@Url.Action("GetData")"
        });

        var dataGrid = $("#gridContainerId").dxDataGrid({
                dataSource: {
                    store: store,
                    onLoadingChanged: function (isLoading) {
                        if (!isLoading) {
                            $('#totalCountId').text(dataGrid.totalCount());
                        }
                    },
                },
                allowColumnResizing: true,
                columnAutoWidth: false,
                controlColumnResizing: true,
                remoteOperations: {
                    sorting: true,
                    paging: true,
                    filtering: true
                },
                filterRow: {
                    visible: true,
                    applyFilter: "auto",
                    showOperationChooser: false
                },
                loadPanel: {
                    enabled: true
                },
                sorting: {
                    mode: 'multiple'
                },
                paging: {
                    pageSize: 10,

                },
                pager: {
                    showPageSizeSelector: true,
                    allowedPageSizes: [5, 10, 15]
                },
                hoverStateEnabled: true,
                rowAlternationEnabled: true,
                columns: [
                    { dataField: "Id", visible: false, allowSearch: false },
                    { dataField: "Name", caption: "@SharedResource.Name.ToScriptStringSafe()", },
                    {
                        dataField: "CreatedDate",
                        caption: "@SharedResource.CreatedDate.ToScriptStringSafe()",
                        dataType: 'datetime'
                    },
                    {
                        dataField: "ModifiedDate",
                        caption: "@SharedResource.ModifiedDate.ToScriptStringSafe()",
                        dataType: 'datetime'
                    },
                    {
                        caption: "",
                        dataField: "",
                        allowFiltering: false,
                        allowSorting: false,
                        alowSearch: false,
                        width: 150,
                        cellTemplate: function (container, options) {
                            var id = options.row.data["Id"];
                            var temp = '__id__';
                            var reId = new RegExp(temp, 'g');

                            var editUrl = '<a href="@Url.Action("Index", "Creator", new { id = "__id__" }, null)"><span class="fas fa-edit mr-3"></span></a>';
                            editUrl = editUrl.replace(reId, id);
                            container.append(editUrl);

                            var downloadUrl = '<a href="#" onclick="downloadSchema(' + id + ')"><span class="fas fa-download mr-3"></span></a>';
                            container.append(downloadUrl);

                            var deleteUrl = '<a href="#" onclick="deleteSchema(' + id + ')"><span style="color: #d9534f" class="fas fa-trash"></span></a>';
                            container.append(deleteUrl);
                        },
                        fixed: true,
                        fixedPosition: 'right'
                    }
                ]
            }).dxDataGrid("instance");
    });
</script>