@using Microsoft.AspNet.Identity
@{
    string tab = Context.Request.RequestContext.RouteData.Controller();
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@SharedResource.BlockToDB.ToStringSafe()</title>
    <link rel="shortcut icon" href="~/content/images/logo.svg" />
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/DevExtremeBundle")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/Scripts/jqueryGlobalize")
    @Scripts.Render("~/Scripts/jqueryBase64")
    @Scripts.Render("~/Scripts/DevExtremeBundle")
    @Scripts.Render("~/Scripts/DevExtremeBundlePL")
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="container">
                <div class="navbar-logo" onclick="goToDashboard()">
                    <i class="fas fa-database"></i>
                    <span class="navbar-logo-text">@SharedResource.BlockToDB.ToStringSafe()</span>
                </div>
                <div class="navbar-wrapper">
                    <ul class="navbar-links">
                        <li class="@(tab == "Creator" ? "is-active" : "")">
                            <a href="@Url.Action("Index", "Creator")"><i class="fas fa-cubes"></i>@SharedResource.Creator.ToStringSafe()</a>
                        </li>
                        @{
                            if (Context.User.Identity.IsAuthenticated)
                            {
                                <li class="@(tab == "Store" ? "is-active" : "")">
                                    <a href="@Url.Action("Index", "Store")"><i class="fas fa-database"></i>@SharedResource.MyDatabase.ToStringSafe()</a>
                                </li>
                            }
                        }
                        <li class="@(tab == "Home" ? "is-active" : "")">
                            <a href="@Url.Action("About", "Home")"><i class="fas fa-info"></i>@SharedResource.About.ToStringSafe()</a>
                        </li>
                    </ul>
                    <ul class="navbar-links">
                        @{
                            if (Context.User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <a href="@Url.Action("LogOff", "Account")"><i class="fas fa-sign-out-alt"></i>@SharedResource.Logout.ToStringSafe()</a>
                                </li>
                            }
                            else
                            {
                                <li>
                                    <a href="@Url.Action("Login", "Account")"><i class="fas fa-sign-in-alt"></i>@SharedResource.Login.ToStringSafe()</a>
                                </li>
                            }
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

    <div id="loadPanelId"></div>

    <script>
        $(document).ready(function () {
            $("#loadPanelId").dxLoadPanel({
                shadingColor: "rgba(0,0,0,0.4)",
                visible: false,
                showIndicator: true,
                showPane: true,
                shading: true,
                closeOnOutsideClick: false,
            }).dxLoadPanel("instance");
        });

        function goToDashboard() {
            window.location = "@Url.Action("Index", "Creator")";
        }

        $(document).ready(function () {
            if ($.validator != undefined) {
                $.validator.methods.number = function (value, element) {
                    var globalizationValue = value.replace(".", ",");
                    return this.optional(element) ||
                        !isNaN(Globalize.parseNumber(globalizationValue));
                }

                $.validator.methods.range = function (value, element, param) {
                    if (value === undefined && param.length === 2 && isNaN(param[0]) && isNaN(param[1]))
                    {
                        return false;
                    }
                    if (value === "true" && param.length === 2 && isNaN(param[0]) && isNaN(param[1])) {
                        return true;
                    }

                    var globalizationValue = value.replace(".", ",");
                    return this.optional(element) || (Globalize.parseNumber(globalizationValue) >= param[0] && Globalize.parseNumber(globalizationValue) <= param[1]);
                }
            }
        });
        $(function () {
            var transport = ['webSockets', 'serverSentEvents', 'longPolling', 'foreverFrame'];
            var isChrome = !!window.chrome && !!window.chrome.webstore;
            if (isChrome) {
                transport = ['serverSentEvents', 'longPolling', 'foreverFrame'];
            }
        });

        function htmlEncode(value) {
            var encodedValue = $('<div />').text(value).html();
            return encodedValue;
        }
    </script>
</body>
</html>
